**/bin
**/obj
.DS_Store
.vscode/*
/.vs/*
**/TestResults
**/_site
docfx_project/docfx.console*
docfx_project/api/*.yml
docfx_project/api/.manifest
**/Properties
**/buildoutput/

*.runsettings

/config.yml